---
import { config } from "@/theme-simple/config";
---

<div class="flex justify-center mt-4 w-full">
  <div class="container">
    <div class="grid gap-4 lg:grid-cols-2 md:grid-cols-2 min-h-[50vh]">
      {
        Array.from({ length: 1 }).map((item) => {
          return (
            <div class="basis-1/2 w-full bg-white rounded-md p-4 h-[150px] shadow flex">
              <div class="w-2/5 md:w-1/4 ">
                <img
                  src="https://www.toubiec.cn/xiaoqing/themes/Joe/npm/img/33.jpg"
                  class="h-full object-cover"
                />
              </div>
              <div class="w-3/5 md:w-3/4 ml-4 flex flex-col justify-between">
                <div>
                  <div class="title text-xl	mb-2 truncate  hover:text-sky-300 transition ease-in-out delay duration-300">[更新记录] 博客更新优化记录</div>
                  <div class="w-full flex">
                    <p class="flex-shrink-0 w-4/5 overflow-hidden line-clamp-2 w-full text-sm  hover:text-sky-300 transition ease-in-out delay duration-300">本博客优化模板基于Joe原版来进行美化 目前主题最新版为7.3.7 而博主的是7.3.6 由于7.3.7改动不大 我不会更新到最新！</p>
                  </div>
                </div>

                <div class="flex justify-between leading-8 mt-2 text-sm">
                  <div class="flex ">
                    <div class=" hover:text-sky-300 transition ease-in-out delay duration-300"> 2023-01-23 </div>
                    <div class="mx-2"> / </div>
                    <div class=" hover:text-sky-300 transition ease-in-out delay duration-300"> 1234 </div>
                    <div class="mx-2"> / </div>
                    <div class=" hover:text-sky-300 transition ease-in-out delay duration-300"> 22 </div>
                  </div>
                  <div>
                    <div class=" hover:text-sky-300 transition ease-in-out delay duration-300">分类1</div>
                  </div>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
