---
import { config } from "@/theme-simple/config";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
 
---
<div class="flex justify-center mt-4 w-full">
  <div class="container">
    <div class="grid gap-4 lg:grid-cols-2 md:grid-cols-2 ">
      {
        posts.map((item) => {
          return (
            <div class="basis-1/2 w-full bg-white dark:bg-darkBg2 dark:text-white  rounded-md p-4 h-[150px] shadow flex">
              <div class="w-2/5 md:w-1/4 ">
                <img
                  src="https://www.toubiec.cn/xiaoqing/themes/Joe/npm/img/33.jpg"
                  class="h-full object-cover"
                />
              </div>
              <div class="w-3/5 md:w-3/4 ml-4 flex flex-col justify-between">
                <div>
                  <div class="title text-xl	mb-2 truncate  hover:text-sky-300 transition ease-in-out delay duration-300">{item.data.title}</div>
                  <div class="w-full flex">
                    <p class="flex-shrink-0 w-4/5 overflow-hidden line-clamp-2 w-full text-sm  hover:text-sky-300 transition ease-in-out delay duration-300">{item.data.description}</p>
                  </div>
                </div>

                <div class="flex justify-between leading-8 mt-2 text-sm">
                  <div class="flex ">
                    <div class=" hover:text-sky-300 transition ease-in-out delay duration-300"> { config.util.convertTime(item.data.pubDate,'YYYY-MM-DD') } </div>
                  
                  </div>
                  <div>
                    <div class=" hover:text-sky-300 transition ease-in-out delay duration-300">分类1</div>
                  </div>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
