---
import BaseHead from '@/theme-simple/components/_blocks/baseHead.astro'
import Header from '@/theme-simple/components/Header.astro'
import TopBanner from '@/theme-simple/components/TopBanner.astro'
import ContentHtml from '@/theme-simple/components/layout/Content.astro'
import { getEntryBySlug } from "astro:content";
import Footer from "@/theme-simple/components/Footer.astro";

import { config } from "@/theme-simple/config"; 
const about = await getEntryBySlug("pages", "about");
const { Content } = await about.render();
---

<html lang="en">
    <head>
        <BaseHead subtitle={about.data.title}/>
    </head>
	<body>
        <div class=`h-screen `>
        <Header/>
		<TopBanner  title={`${config.site.title} - 文章档案`} desc="努力可能做不到什么，但是已经会给出结果~" />
        <ContentHtml>
            <div class="flex justify-center mt-4 min-h-[50vh]">
                <div class="container bg-white dark:bg-darkBg2 dark:text-white  text-red shadow rounded-md p-4 content">
                    <Content/>
                </div>
            </div>
            <Footer/>
        </ContentHtml>
    </div>
	</body>
</html>
