---
import BaseHead from '@/theme-simple/components/_blocks/baseHead.astro'
import Header from '@/theme-simple/components/Header.astro'
import TopBanner from '@/theme-simple/components/TopBanner.astro'
import ContentHtml from '@/theme-simple/components/layout/Content.astro'
import bg from '@/theme-simple/assets/media/bg.jpeg'
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("pages", "about");
const { Content } = await about.render();
---

<html lang="en">
    <head>
        <BaseHead subtitle={about.data.title}/>
    </head>
	<body>
        <ContentHtml>
            <Header/>
			<TopBanner />
            <div class="flex justify-center mt-4">
                <div class="container bg-white text-red shadow rounded-md p-4 content">
                    <Content/>
                </div>
            </div>
        </ContentHtml>
	</body>
</html>
