---
import BaseHead from "@/theme-simple/components/_blocks/baseHead.astro";
import Header from "@/theme-simple/components/Header.astro";
import TopBanner from "@/theme-simple/components/TopBanner.astro";
import IndexList from "@/theme-simple/components/IndexList.astro";
import Footer from "@/theme-simple/components/Footer.astro";
import PcSearch from "@/theme-simple/components/layout/search.astro";
import ContentHtml from "@/theme-simple/components/layout/content.astro";

import "@/theme-simple/assets/styles/global.less";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";


---

<html lang="en">
  <head>
    <BaseHead subtitle={SITE_TITLE} />
  </head>
  <body>
    <div class=`h-screen`>
      <Header />
      <TopBanner title="欢迎来到我的博客" desc="这是一个热血的故事" />
      <ContentHtml>
        <PcSearch />
        <!-- <IndexList /> -->
        <Footer />
      </ContentHtml>
    </div>
  </body>
</html>
